<div class="main">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Add Auction</mat-card-title>
      </mat-card-header>
      <form class="example-form" >
        <table class="table" cellspacing="0">
          <tr><td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" [formControl]="NameFormControl" [errorStateMatcher]="matcher">
          </mat-form-field>
          </td></tr>

          <tr><td>
              <input [(ngModel)]="humanDate" type="date" name="startDate"  [min]="today"/>
          </td></tr>
          <tr><td>
              <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Description" [formControl]="DescriptionFormControl"></textarea>
                </mat-form-field>
          </td></tr>
          
          <tr><td>
              <input class="ng-hide" id="input-file-id" multiple type="file" (change)="valuechangeIMG($event)">
              <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>
    
          </td></tr>
         <tr><td> 
          <button type="button" mat-stroked-button="user-button" (click)="addOglas()"> Add</button>
        </td></tr>
          
      </table>
    </form>
  </mat-card>  
</div>

