
<mat-card class="example-card" *ngIf="oglas.odobren && !oglas.prodat && oglas.datum>nMil" >
    <mat-card-header>
      <mat-card-title>{{oglas.naziv}}</mat-card-title>
      <mat-card-subtitle>Vazi do: {{vreme}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imagePath" onerror= "this.src = 'http://localhost:8080/api/downloadFile/rekviziti/alt'" alt="No Photo" class="img">
    <mat-card-content>
      <p>
          {{oglas.opis}}
      </p>
      <p *ngIf="staraPonuda">
        <b>Current offer: {{staraPonuda.cena}} din</b>
      </p>
      <input matInput type = "number" placeholder="Price" [formControl]="PriceFormControl"
        [errorStateMatcher]="matcher">
    </mat-card-content>
    <mat-card-actions>
        
      <button type="button"  mat-button class="user-button" (click)="offerOglas()" >Send offer</button>
      <button *ngIf="staraPonuda" type="button"  mat-button class="user-button" (click)="cancelOfferOglas()" >Cancel offer</button>
    </mat-card-actions>
  </mat-card>
