<!-- <a mat-list-item routerLink="/cinemas">Cinemas</a>
<a mat-list-item routerLink="/theatres">Theatres  </a>
 -->
<div class="container" style="width: 100%;">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-4">
            <img src="../../assets/bioskop.jpg">
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-4">
            <img src="../../assets/pozoriste.jpg">
        </div>

        <div class="col-md-1"></div>
    </div>
</div>