.projectImg
{
    border: 1px solid grey;
    float: left;
    cursor: pointer;
}

.content
{
    width: 80%;
    height: 210px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid grey;
}

.description
{
    padding-left: 10px;
    float: left
}

hr
{
    color: red;
    border: 1px solid black;
}