<div>
   <mat-tab-group >
    <mat-tab label="Official store"> <app-rekvizit-kartica 
      *ngFor = "let rekvizit of rekviziti" 
      [rekvizit] = "rekvizit">  </app-rekvizit-kartica> </mat-tab>
    <mat-tab label="Auction sale">
      <app-oglas-kartica *ngFor="let oglas of oglasi" [oglas]="oglas"> </app-oglas-kartica>  
    </mat-tab>
    <mat-tab label="My sale">
        <app-oglas-kartica-edit *ngFor="let oglass of mojiOglasi" [oglas]="oglass"> </app-oglas-kartica-edit>  
    </mat-tab>
  </mat-tab-group>