<div class="main">
  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Edit scale</mat-card-title>
    </mat-card-header>
    <form class="example-form" >
      <table class="table" cellspacing="0">
          <tr>
              <td><mat-form-field class="example-full-width">
                  <input matInput type = "number" placeholder="Bronze poins" [formControl]="BPFormControl">
                </mat-form-field></td>
          </tr>
          <tr>
              <td><mat-form-field class="example-full-width">
                  <input matInput type = "number" placeholder="Bronze save %" [formControl]="BSFormControl">
                </mat-form-field></td>
          </tr>
          <tr>
              <td><mat-form-field class="example-full-width">
                  <input matInput type = "number" placeholder="Silver poins" [formControl]="SPFormControl">
                </mat-form-field></td>
          </tr>
          <tr>
              <td><mat-form-field class="example-full-width">
                  <input matInput type = "number" placeholder="Silver save %" [formControl]="SSFormControl">
                </mat-form-field></td>
          </tr>
          <tr>
              <td><mat-form-field class="example-full-width">
                  <input matInput type = "number" placeholder="Gold poins" [formControl]="GPFormControl">
                </mat-form-field></td>
          </tr>
          <tr>
              <td><mat-form-field class="example-full-width">
                  <input matInput type = "number" placeholder="Gold save %" [formControl]="GSFormControl">
                </mat-form-field></td>
          </tr>
          <tr>
              <td>
                <button class="button" type="button"  mat-button  (click)="onSave()" >Save</button>
              </td>
          </tr>
      </table>
    </form>
  </mat-card>  
</div>



















