
.content
{
    width: 80%;
    height: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid grey;
}


.description
{
    margin-left: 10px;
}

.edit
{
    position: absolute;
    top: 5px;
    right: 250px;
}