<div class="container-fluid" style="padding-top: 50px;">
  <div class="row">

    <div class="col-md-4">
      <img style="width: 50%" src="https://images-na.ssl-images-amazon.com/images/I/51iix3LQgJL.jpg">
    </div>

    <div class="col-md-8">

      <mat-tab-group>

        <mat-tab label="About">
          <div class="content">
            <!-- <button [hidden]="!admin" class="btn btn-secondary edit">Edit projection</button>
            <div class="description">
              <h3>Title: {{film.naziv}}</h3>
              <br>
              <h4>Directed by: {{naslov.reziser.ime}} {{naslov.reziser.prezime}}</h4>
              <br>
              <h4>Description: {{naslov.opis}}</h4>
              <h4>Genre: {{naslov.zanr}}</h4>
              <p>Stars:

              </p>
            </div> -->
          </div>

          <!-- <button [hidden]="!admin" class="btn btn-secondary">New schedule.</button> -->
        </mat-tab>

        <mat-tab label="Sale i temini">
          <!-- <div class="card border-secondary mb-3" style="max-width: 20rem;" *ngFor="let sala of sale">
            <div class="card-header">{{sala.naziv}}</div>
            <div class="card-body">
              <p *ngFor="let termin of sala.termini; index as i">{{i}}.termin: {{termin.vreme}}</p>
            </div>
          </div> -->
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
</div>