
<mat-card class="example-card" *ngIf="loggedUser">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{loggedUser.name}} {{loggedUser.lName}}</mat-card-title>
      <mat-card-subtitle>{{loggedUser.tip}}</mat-card-subtitle>
    </mat-card-header>
   
    <mat-card-content>
        <p>
            {{loggedUser.email}}
        </p>
      <p>
        +381{{loggedUser.tel}}
      </p>
      <p>
          {{loggedUser.adresa}}
        </p>
    </mat-card-content>
  </mat-card>
  