
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #navDrawer
    class="sidenav"
    position="start"
    fixedInViewport="true"
    [attr.role]= "navigation"
    mode="side"
    >
    
    <mat-toolbar color="primary" class="toolbar">Menu  <span class="example-spacer"></span>
      <button
      *ngIf="navDrawer.opened"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        
        (click)="navDrawer.toggle()"
        > <mat-icon aria-label="Side nav toggle icon\">arrow_back</mat-icon>
      </button>
    </mat-toolbar>
    
    <mat-nav-list >
        <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/theatres">Theatres</a>
      <a mat-list-item routerLink="/cinemas">Cinemas</a>
      <a *ngIf="this.userService.getLoggedIn() && (this.userService.getLoggedIn().tip == 'korisnik') " mat-list-item routerLink="/tickets">My Tickets</a>
      <a *ngIf="this.userService.getLoggedIn() && (this.userService.getLoggedIn().tip == 'korisnik') " mat-list-item routerLink="/fanzone">Fan Zone</a>
      <a *ngIf="this.userService.getLoggedIn() && (this.userService.getLoggedIn().tip == 'korisnik') " mat-list-item routerLink="/addOglas">Add auction</a>
      <a *ngIf="this.userService.getLoggedIn() && (this.userService.getLoggedIn().tip == 'fan') " mat-list-item routerLink="/addRekvizit">Add Item</a>
      <a *ngIf="this.userService.getLoggedIn() && (this.userService.getLoggedIn().tip == 'fan') " mat-list-item routerLink="/rekvizitAllEdit">Edit Items</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="lowerContainer" >
    <mat-toolbar color="primary" class="toolbar">
      <button
      *ngIf=" !navDrawer.opened"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="navDrawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon\">menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <app-login-small *ngIf="!this.userService.getLoggedIn()" ></app-login-small>
      
      <button *ngIf="this.userService.getLoggedIn()" mat-button class="user-button" (click)="UserDrawer.toggle()" >{{this.userService.getLoggedIn().name}}</button>
      
    </mat-toolbar>
    
        <mat-sidenav
        #UserDrawer
        class="sidenav"
        position="end"
        fixedInViewport="true"
        [attr.role]= "navigation"
        mode="side"
        fixedTopGap=64
        [opened]="this.userService.getLoggedIn()">
        <mat-nav-list>

          <a mat-list-item routerLink = "/profile">Profile</a>
          <a mat-list-item routerLink = "/friends">Friends</a>
          <a *ngIf="this.userService.getLoggedIn() && (this.userService.getLoggedIn().tip == 'fan') " mat-list-item routerLink = "/editAdminFan">Edit profile</a>
          <a mat-list-item (click)="logOut()" > Log out</a>
        </mat-nav-list>
      </mat-sidenav>
      <div class="router-out">
       <router-outlet ></router-outlet>
      </div>
  </mat-sidenav-content>
  
 
</mat-sidenav-container>
